/* This styles the header */
header {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: -47rem;
  }
  
  /* This styles the Nav Bar */
  nav {
    border: 3px solid white;
    border-radius: 25px;
    position: fixed;
    top: 88px;
    padding-left: 20rem;
    padding-top: 20px;
    left: 5.3rem;  
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .navbox-1{
    color: white;
    position: fixed;
    top: 100px;
    left: 7rem;
  }
  
  .navbox-2 {
    color: white;
    position: fixed;
    top: 100px;
    left: 12rem;
  }
  
  .navbox-3 {
    color: white;
    position: fixed;
    top: 100px;
    left: 17rem;
  }
  
  .navbox-4 {
    color: white;
    position: fixed;
    top: 100px;
    left: 22rem;
  }

  /* This styles the whole background */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden; }
  
  .stars {
    color: orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: rotate(-45deg); }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
    @media screen and (max-width: 750px) {
      .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
    .star:nth-child(1) {
      --star-tail-length: 6.77em;
      --top-offset: 49.47vh;
      --fall-duration: 8.25s;
      --fall-delay: 9.668s; }
    .star:nth-child(2) {
      --star-tail-length: 6.14em;
      --top-offset: 61.55vh;
      --fall-duration: 8.071s;
      --fall-delay: 7.902s; }
    .star:nth-child(3) {
      --star-tail-length: 6.54em;
      --top-offset: 16.18vh;
      --fall-duration: 7.911s;
      --fall-delay: 3.979s; }
    .star:nth-child(4) {
      --star-tail-length: 5.87em;
      --top-offset: 97.16vh;
      --fall-duration: 6.988s;
      --fall-delay: 6.131s; }
    .star:nth-child(5) {
      --star-tail-length: 5.04em;
      --top-offset: 52.72vh;
      --fall-duration: 6.104s;
      --fall-delay: 7.746s; }
    .star:nth-child(6) {
      --star-tail-length: 6.05em;
      --top-offset: 84.45vh;
      --fall-duration: 9.46s;
      --fall-delay: 6.495s; }
    .star:nth-child(7) {
      --star-tail-length: 6.2em;
      --top-offset: 97.5vh;
      --fall-duration: 10.948s;
      --fall-delay: 3.523s; }
    .star:nth-child(8) {
      --star-tail-length: 6.34em;
      --top-offset: 58.86vh;
      --fall-duration: 8.918s;
      --fall-delay: 2.773s; }
    .star:nth-child(9) {
      --star-tail-length: 7.29em;
      --top-offset: 50.62vh;
      --fall-duration: 10.108s;
      --fall-delay: 0.404s; }
    .star:nth-child(10) {
      --star-tail-length: 5.19em;
      --top-offset: 80.5vh;
      --fall-duration: 9.522s;
      --fall-delay: 7.366s; }
    .star:nth-child(11) {
      --star-tail-length: 5.22em;
      --top-offset: 94.03vh;
      --fall-duration: 11.886s;
      --fall-delay: 4.659s; }
    .star:nth-child(12) {
      --star-tail-length: 6.53em;
      --top-offset: 40.73vh;
      --fall-duration: 6.308s;
      --fall-delay: 7.892s; }
    .star:nth-child(13) {
      --star-tail-length: 5.13em;
      --top-offset: 9.13vh;
      --fall-duration: 11.23s;
      --fall-delay: 1.774s; }
    .star:nth-child(14) {
      --star-tail-length: 7.15em;
      --top-offset: 46.83vh;
      --fall-duration: 11.638s;
      --fall-delay: 2.311s; }
    .star:nth-child(15) {
      --star-tail-length: 5.29em;
      --top-offset: 10.48vh;
      --fall-duration: 10.876s;
      --fall-delay: 5.772s; }
    .star:nth-child(16) {
      --star-tail-length: 5.63em;
      --top-offset: 17.92vh;
      --fall-duration: 7.091s;
      --fall-delay: 0.642s; }
    .star:nth-child(17) {
      --star-tail-length: 7.12em;
      --top-offset: 32.56vh;
      --fall-duration: 8.1s;
      --fall-delay: 6.926s; }
    .star:nth-child(18) {
      --star-tail-length: 7.42em;
      --top-offset: 26.99vh;
      --fall-duration: 8.083s;
      --fall-delay: 4.034s; }
    .star:nth-child(19) {
      --star-tail-length: 6.25em;
      --top-offset: 1.45vh;
      --fall-duration: 7.957s;
      --fall-delay: 6.866s; }
    .star:nth-child(20) {
      --star-tail-length: 5.84em;
      --top-offset: 27.79vh;
      --fall-duration: 7.187s;
      --fall-delay: 6.208s; }
    .star:nth-child(21) {
      --star-tail-length: 5.96em;
      --top-offset: 10.64vh;
      --fall-duration: 11.934s;
      --fall-delay: 4.591s; }
    .star:nth-child(22) {
      --star-tail-length: 6.96em;
      --top-offset: 95.19vh;
      --fall-duration: 6.398s;
      --fall-delay: 2.829s; }
    .star:nth-child(23) {
      --star-tail-length: 7em;
      --top-offset: 47.02vh;
      --fall-duration: 6.076s;
      --fall-delay: 5.319s; }
    .star:nth-child(24) {
      --star-tail-length: 6.79em;
      --top-offset: 83.76vh;
      --fall-duration: 11.864s;
      --fall-delay: 3.837s; }
    .star:nth-child(25) {
      --star-tail-length: 7.26em;
      --top-offset: 18.02vh;
      --fall-duration: 9.211s;
      --fall-delay: 0.203s; }
    .star:nth-child(26) {
      --star-tail-length: 6.14em;
      --top-offset: 77.52vh;
      --fall-duration: 10.953s;
      --fall-delay: 3.436s; }
    .star:nth-child(27) {
      --star-tail-length: 6.59em;
      --top-offset: 82.69vh;
      --fall-duration: 10.584s;
      --fall-delay: 5.907s; }
    .star:nth-child(28) {
      --star-tail-length: 5.98em;
      --top-offset: 57.36vh;
      --fall-duration: 10.761s;
      --fall-delay: 0.575s; }
    .star:nth-child(29) {
      --star-tail-length: 6.06em;
      --top-offset: 13.94vh;
      --fall-duration: 7.878s;
      --fall-delay: 6.131s; }
    .star:nth-child(30) {
      --star-tail-length: 6.11em;
      --top-offset: 31.7vh;
      --fall-duration: 6.692s;
      --fall-delay: 7.353s; }
    .star:nth-child(31) {
      --star-tail-length: 7.48em;
      --top-offset: 22.27vh;
      --fall-duration: 7.862s;
      --fall-delay: 5.218s; }
    .star:nth-child(32) {
      --star-tail-length: 5.35em;
      --top-offset: 94.87vh;
      --fall-duration: 10.16s;
      --fall-delay: 8.942s; }
    .star:nth-child(33) {
      --star-tail-length: 6.36em;
      --top-offset: 99.28vh;
      --fall-duration: 8.24s;
      --fall-delay: 3.77s; }
    .star:nth-child(34) {
      --star-tail-length: 5.28em;
      --top-offset: 39.18vh;
      --fall-duration: 7.776s;
      --fall-delay: 8.449s; }
    .star:nth-child(35) {
      --star-tail-length: 5.15em;
      --top-offset: 31.93vh;
      --fall-duration: 8.616s;
      --fall-delay: 4.853s; }
    .star:nth-child(36) {
      --star-tail-length: 6.51em;
      --top-offset: 60.39vh;
      --fall-duration: 8.321s;
      --fall-delay: 2.211s; }
    .star:nth-child(37) {
      --star-tail-length: 5.65em;
      --top-offset: 28.94vh;
      --fall-duration: 9.15s;
      --fall-delay: 1.164s; }
    .star:nth-child(38) {
      --star-tail-length: 5.93em;
      --top-offset: 83.26vh;
      --fall-duration: 9.062s;
      --fall-delay: 8.742s; }
    .star:nth-child(39) {
      --star-tail-length: 6.96em;
      --top-offset: 37.19vh;
      --fall-duration: 7.876s;
      --fall-delay: 8.465s; }
    .star:nth-child(40) {
      --star-tail-length: 6.05em;
      --top-offset: 18.47vh;
      --fall-duration: 6.925s;
      --fall-delay: 4.87s; }
    .star:nth-child(41) {
      --star-tail-length: 6.2em;
      --top-offset: 68.07vh;
      --fall-duration: 8.495s;
      --fall-delay: 4.601s; }
    .star:nth-child(42) {
      --star-tail-length: 6.01em;
      --top-offset: 38.01vh;
      --fall-duration: 11.07s;
      --fall-delay: 4.361s; }
    .star:nth-child(43) {
      --star-tail-length: 5.57em;
      --top-offset: 52.62vh;
      --fall-duration: 7.506s;
      --fall-delay: 1.992s; }
    .star:nth-child(44) {
      --star-tail-length: 6.37em;
      --top-offset: 29.96vh;
      --fall-duration: 9.261s;
      --fall-delay: 2.21s; }
    .star:nth-child(45) {
      --star-tail-length: 5.35em;
      --top-offset: 17.95vh;
      --fall-duration: 11.021s;
      --fall-delay: 3.49s; }
    .star:nth-child(46) {
      --star-tail-length: 5.46em;
      --top-offset: 16.52vh;
      --fall-duration: 6.779s;
      --fall-delay: 6.477s; }
    .star:nth-child(47) {
      --star-tail-length: 7.44em;
      --top-offset: 33.26vh;
      --fall-duration: 7.599s;
      --fall-delay: 4.748s; }
    .star:nth-child(48) {
      --star-tail-length: 7.06em;
      --top-offset: 61.38vh;
      --fall-duration: 7.862s;
      --fall-delay: 7.695s; }
    .star:nth-child(49) {
      --star-tail-length: 7.43em;
      --top-offset: 91.86vh;
      --fall-duration: 7.099s;
      --fall-delay: 9.841s; }
    .star:nth-child(50) {
      --star-tail-length: 5.25em;
      --top-offset: 71.99vh;
      --fall-duration: 11.171s;
      --fall-delay: 4.115s; }
    .star::before, .star::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite; }
    .star::before {
      transform: rotate(45deg); }
    .star::after {
      transform: rotate(-45deg); }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0); } }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1; }
    70%, 80% {
      width: 0;
      opacity: 0.4; }
    100% {
      width: 0;
      opacity: 0; } }
  
  @keyframes blink {
    50% {
      opacity: 0.6; } }
  